<!DOCTYPE>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue"></script>

    <link rel="stylesheet" href="schedule-template/css/reset.css"> <!-- CSS reset -->
    <link rel="stylesheet" href="schedule-template/css/style.css"> <!-- Resource style -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">

    <link rel="stylesheet" href="mystyle.css"> <!-- mystyle --> 
</head>
<body>
<div id="vue">
    <p id="rectangle" class="header">Course Scheduler<p>
    <div class="input-courses">
        <div v-if="seen">
            <div class="title">Enter your courses here</div>
            <div class="title filters">Choose your filters</div>
        </div>

        <div class="input-fields">
            <div v-for="(course, i) in courses">
                <button class="add-course-button button" @click="add">+</button> 
                <input type="text" class="input-field" placeholder="MATH 100"
                    v-model="course.name" @keyup.enter="add(i)" @keyup.delete="backspace(course.name, i)" />

                <button class="x-button" @click="remove(i)">x</button>
            </div>
            <button class="generate-schedule button" @click="generateSchedule()">Generate</button>
        </div>
    </div>

    <div>
        <schedule-component class="schedule" v-for="schedule in schedules" 
            :mon="schedule[1]"
            :tue="schedule[2]"
            :wed="schedule[3]"
            :thu="schedule[4]"
            :fri="schedule[5]">
        </schedule-component> 
    </div>

    <div class="cover-layer"></div>
</div> <!-- #vue -->

<script src="schedule-template/js/modernizr.js"></script>
<script src="schedule-template/js/main.js"></script>
<script src="myapp.js"></script>

</body>
</html>