

body {
    font-family: calibri;
   
}
.title {
    font-size: 300%;
    color: red;
    text-align:center;
    margin-top: 40px;
}

.center {
    text-align: center;
}
.header {
    font-size: 100px;
    color: white;
    position: absolute;
    text-align: center;
}
#rectangle {
    width: 2000px;
    height: 130px;
    background: #5c00e6;
    position: relative;
}
.add-course-button {
    height: 2.5%;
    width: 2.5%;
    font-size: 100%;
    background: pink;
    border: none;
    border-radius: 20%;
    text-align: center;
    margin-top: 2%;
    
}

.x-button {
    height: 2.5%;
    width: 2.5%;
    background: pink;
    border: none;
    border-radius: 20%;
    text-align: center;
}

.input-field {
    height: 3%;
    width: 20%;
    margin-top: 2%;
    text-align: center;
}

.generate-schedule {
    height: 4%;
    width: 200;
    font-size: 100%;
    background: pink;
    border: none;
    border-radius: 10%;
    text-align: center;
    margin-top: 2%;
}

.schedule {
    border: none;
}