body {
    font-family: calibri;
   
}
.title {
    font-size: 300%;
    color: black;
    margin-top: 40px;
}
.input-courses {
    padding-left: 5%;
}
.input-fields {
    padding-left: 8%;
}
.header {
    font-size: 500%;
    color: white;
    position: absolute;
    padding-top: 1%;
    padding-left: 5%;
}
#rectangle {
    width: 2000px;
    height: 130px;
    background: #16ace2;
    position: relative;
}

.button {
    background: #16ace2;
    color: white;
}
.add-course-button {
    height: 4%;
    width: 2.5%;
    font-size: 100%;
    font-weight: bold;
    border: none;
    text-align: center;
    margin-top: 2%;
    margin-right: 0.3%;
    
}

.x-button {
    height: 3%;
    width: 2%;
    border: none;
    border-radius: 20%;
    color: grey;
    font-size: 120%;
    margin-left: -0.5%;
    background: none;
    text-align: center;
    
}

.input-field {
    height: 4%;
    width: 12%;
    margin-top: 2%;
    font-size:100%;
    padding-left: 1%;
}

.generate-schedule {
    height: 4%;
    width: 200;
    font-size: 100%;
    font-weight: bold;
    border: none;
    text-align: center;
    margin-top: 2%;
}

.schedule {
    border: none;
}